<!DOCTYPE html>
<html>
<head>
  <title>Ars attendance GDPR</title>
</head>
<body>
<h1>GDPR</h1>
<p>Usage of this service is not mandatory, it is used by Ars Gladiatoria for the purpose of tracking attendance at training sessions. This helps us plan and improve our training sessions.</p>
<p>The collected data is as follows:</p>
<ul>
  <li>Your full name</li>
  <li>Your email address</li>
  <li>The dates you attended a session</li>
</ul>
<p>This data will never be made public and will be protected to the best of our ability.</p>
<p>You retain the right to request a copy of your data, request deletion of your data, or request a list of everyone with access to your data at any time.</p>
<p>People with access to your data are the webmaster and the administrators.</p>
<p>Other members <strong>will never</strong> have access to your data.</p>
<p>Full list of administrators is available at request.</p>
<p>If you have any questions or requests, please contact the webmaster. Best bet is to ping the Discord server.</p>
<h2>What the data is used for</h2>
<p>Your email is used to "verify" you are a unique person. Planned usage for the address is to serve as a way to reset your password once we implement that feature.</p>
<p>Your name is used to identify you in the system. It is also used to generate a list of people who attended a session.</p>
<p>Your name is connected to the dates you attended a training session.</p>
<h3>Future usage</h3>
<p>Future addition is planned to allow for gear tracking and loaning. This will be an opt-in feature and will further connect your name to the gear you have borrowed.</p>
<p>This feature will additionally show the link between your name and the gear you have borrowed to a "quartermaster" or gear comptroller. This will ideally be 2 additional people and like the administrators list the list of the quartermasters can be requsted by any user at any time.</p>
</body>
