<!DOCTYPE html>
<html>
  <head>
    <title>Ars attendance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.js"></script>
  </head>
  <body>
  <div id="main-view">
    <div class="topnav" id="myTopnav">
      <a hx-get="/" hx-target="#main-view" class="active">Attend</a>
      <a hx-get="/stats" hx-target="#main-view">Stats</a>
      <a hx-get="/about" hx-target="#main-view">About</a>
      {{ if .Admin }}
      <a id="adm" hx-get="/admin" hx-target="#main-view">Admin</a>
      {{ end }}
      <div class="dropdown">
        <a class="dropbtn" id="user" href="#user"><i class="bx bxs-user dropdown"></i></a>
        <div class="dropdown-content">
          {{ template "userMenu.gohtml" . }}
        </div>
      </div>
    </div>
    <h1>Ars Gladiatoria training attendance tracker</h1>
    {{ if .Authenticated }}
    <form id="attender">
      <p>Did you train today? Hit the button!</p>
      <button hx-post="/attend" hx-target="#attender" hx-swap="outerHTML" class="btn">I was here!</button>
    </form>
    {{ else }}
    <p>Log in to track your attendance!</p>
    <form action="/login" >
    <button class="btn">Log in</button>
    </form>
    {{ end }}
    </div>
  </body>
</html>
