<!DOCTYPE html>
<html>
  <head>
    <title>Ars attendance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="topnav" id="myTopnav">
      <a href="/">Attend</a>
      <a href="#stats">Stats</a>
      <a href="#about">About</a>
      <div class="dropdown">
        <a class="dropbtn" id="user" href="#user"><i class="bx bxs-user dropdown"></i></a>
        <div class="dropdown-content">
          {{ template "userMenu.gohtml" . }}
        </div>
      </div>
    </div>
    <h1>Log in or sign up</h1>
    <p>Log in to track your attendance!</p>
    <div class="loginbox">
      <input type="checkbox" id="chk" aria-hidden="true">

        <div class="login">
          <form action="/logmein">
            <label class="loginlabel" for="chk" aria-hidden="true">Login</label>
            <input type="txt" name="username" placeholder="Username" required="true">
            <input type="password" name="password" placeholder="Password" required="true">
            <button>Login</button>
          </form>
        </div>

        <div class="signup">
          <form hx-post="/signmeup">
            <label class="signuplabel" for="chk" aria-hidden="true">Sign up</label>
            <input type="text" name="username" placeholder="Username" required="true">
            <input type="email" name="email" placeholder="Email" required="true">
            <input type="text" name="name" placeholder="Name" required="true">
            <input type="text" name="surname" placeholder="Last Name" required="true">
            <input type="password" name="password" placeholder="Password" required="true">
            <label id="gdprlabel"for="gdprcheck">
            <input id="gdprcheck" type="checkbox" name="gdpr" required="true" required title="Yeah, you have to agree to this before you can come in, it's a stupid regulation but we have to do it"><span>I agree to the <a href="/termsandconditions">terms and conditions</a></span>
            </label>
            <button>Sign up</button>
          </form>
        </div>
    </div>


  </body>
</html>
