body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  text-align: center;
  color: #333;
}

p {
  text-align: center;
  color: #666;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 15px 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50px; /* Make it round */
  font-size: 20px; /* Make it bigger */
  cursor: pointer;
}

@media (max-width: 600px) {
  .btn {
    padding: 20px 40px; /* Increase padding for mobile devices */
    font-size: 24px; /* Increase font size for mobile devices */
  }
}

.btn:hover {
  background-color: #0056b3;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #555;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover,
a:active {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #0056b3;
  color: white;
}
.topnav #adm {
  background-color: forestgreen;
}

.topnav #adm:hover {
  background-color: #ddd;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.topnav #user {
  float: right;
}

/* Style The Dropdown Button */
.dropbtn {
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  top: 48px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  float: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  float: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #0056b3;
}

/* Login form styling */
.loginbox {
  margin: 0 auto;
  width: 350px;
  height: 570px;
  background: gray;
  overflow: hidden;
  background: linear-gradient(#888, #eee);
  border-radius: 10px;
  box-shadow: 5px 10px 25px #000;
}
.loginbox #chk {
  display: none;
}
.login {
  position: relative;
  width: 100%;
  height: 100%;
}
.loginbox .loginlabel {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.loginbox input {
  width: 60%;
  height: 10px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.loginbox button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #0056b3;
  font-size: 1em;
  font-weight: bold;
  margin-top: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.loginbox button:hover {
  background: #007bff;
}
.loginbox .signup {
  height: 570px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
.signup .signuplabel {
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  color: #0056b3;
  top: 10px;
  transform: scale(0.6);
  position: relative;
}

.loginbox #chk:checked ~ .signup {
  transform: translateY(-570px);
}
.loginbox #chk:checked ~ .signup .signuplabel {
  transform: scale(1);
}
.loginbox #chk:checked ~ .login label {
  transform: scale(0.6);
}

.loginbox .signup #gdprlabel {
  justify-content: left;
  display: flex;
  cursor: pointer;
}

.loginbox #gdprlabel {
  width: 80%;
  margin: auto auto;
  height: 23px;
}

.loginbox #gdprcheck {
  width: auto;
  margin-top: 7px;
}

.loginbox #gdprlabel span {
  align-content: center;
}


.calendar {
  margin: 0 auto;
  width: 35%;
  height: 100%;
  background: #eee;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 10px 25px #000;
  border-collapse: collapse; /* Add this line to collapse the table borders */
}

.calendar th {
  background-color: #0056b3;
  color: white;
  text-align: left; /* Fix the typo in text-align property */
  padding: 10px; /* Add padding to create equal cell spacing */
}

.calendar td {
  padding: 10px; /* Add padding to create equal cell spacing */
  width: 14%;
  height: 50px;
}

.calendar tr:nth-child(even) {
  background-color: #f2f2f2; /* Add a background color to the even rows */
}

.calendar td:hover {
  background-color: #ddd; /* Add a background color to the table rows on hover */
}

#trainingday {
  background-color: forestgreen;
  color: white;
}

#trainingday:hover {
  background-color: #279f27;
}
