<!DOCTYPE html>
<html>
<head>
  <title>Ars attendance</title>
</head>
<body>
  <h1>Terms and Conditions</h1>
  <p>By using this service, you agree to the following terms and conditions:</p>
  <ul>
    <li>We store your full name and email address in a local server</li>
    <li>Only you and select users from the organization can access your data</li>
    <li>Your email address is used only for resetting your password</li>
    <li>You can request to see your data at any time by contacting the administrator</li>
    <li>You can get a list of everyone with access to your data at any time by contacting the administrator</li>
    <li>We only correlate your name to the number of times you came in for insights on session attendance</li>
    <li>We do not share your data with any third party</li>
    <li>We do not use your data for any other purpose than the one stated above</li>
    <li>We use cookies to store your session data and keep you logged in, this luckily does not require cookie consent</li>
    <li>This site is made to be used in good faith and for no nefarious purposes</li>
    <li>You can request to delete your data at any time by contacting the administrator or by deleting your own account.</li>
    <li>We reserve the right to change these terms and conditions at any time</li>
    <li>By signing up and using this service, you agree to these terms and conditions</li>
    <li>If you do not agree to these terms and conditions, please do not use this service</li>
    <li>Your data may be kept up to 6 months in the server on some random backup somewhere</li>
    <li>Thank you for using the Ars Attendance tracker</li>
  </ul>
</body>
